#App_container {
  margin: 3vw auto auto auto;
  width: 80vw;
  min-width: 639px;
}

.current_Weather_container {
  display: flex;
  flex-wrap: nowrap;
  padding: 1vw;
  min-height: 300px;
  justify-content: center;
  min-width: 910px;
}

.forecast_Weather_container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: fit-content;
  margin: auto;
}

.form-control:focus {
  box-shadow: 0 0 0 1.5px rgba(13, 202, 240) !important;
}

.btn:hover {
  background-color: rgba(13, 202, 240) !important;
}
